{% extends "base.html" %}

{% block content %}

{% if user and user.geheimzahl %}

    <form method="post" action="/geheimzahl">

        <input type="text" name="zahl" placeholder="Gib hier deine Zahl ein">

        <br>



        <button type="submit">Bestätigen</button>

    </form>

{% else %}

    <form method="post" action="/anmeldung">

        <input type="text" name="name" placeholder="Name"><br>

        <input type="email" name="email" placeholder="Email Adresse"><br>



        <button>Bestätigen</button>

    </form>

{% endif %}

{% endblock content %}